body {
	overflow-x: hidden;
	-ms-word-break: break-all;
	word-break: break-all;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	font-family: "微软雅黑", "Segoe WP";
	background-color: #1e1e1e;
	background-repeat: repeat;
	color: #ecf0f1;
	font-style: normal;
	line-height: 150%;
	-ms-scrollbar-face-color: #111;
	scrollbar-face-color: #111;
	-ms-scrollbar-highlight-color: #555;
	scrollbar-highlight-color: #555;
	-ms-scrollbar-shadow-color: #555;
	scrollbar-shadow-color: #555;
	-ms-scrollbar-3dlight-color: #111;
	scrollbar-3dlight-color: #111;
	-ms-scrollbar-arrow-color: #555;
	scrollbar-arrow-color: #555;
	-ms-scrollbar-track-color: #111;
	scrollbar-track-color: #111;
	-ms-scrollbar-darkshadow-color: #4c4c4c;
	scrollbar-darkshadow-color: #4c4c4c;
	font-size: 16px;
}

img {
    height:auto;
    width:100%;
    border: 0;
}

.h1{
	color: #FF6600;
	font-weight: bold;
	line-height: 150%;
	font-family: "微软雅黑", "Segoe WP";
	font-size: 20px;
}

.h2{
    color: #FF6600;
	line-height: 120%;
	font-family: "微软雅黑", "Segoe WP";
	font-size: 18px;
}
strong{
    color: #FF6600;	
}
